<script setup>
// import { useUserStore } from "@/store/user";
import { ref } from "vue";
import BaseLoader from "@/components/base/BaseLoader.vue";
import Header from "@/views/layouts/Header.vue";
import Footer from "@/views/layouts/Footer.vue";
import Sidebar from "@/views/layouts/Sidebar.vue";
import Vertical from "@/views/layouts/Vertical.vue";

// const dashboardStore = useDashboardStore();
const isLoading = ref(false);

// const gitHub = ref(null);
// const gitLab = ref(null);
// const bitBucket = ref(null);

// fetchSourceController();

// async function fetchSourceController(params) {
//   isLoading.value = true;
//   let res = await dashboardStore.fetchSourceController();
//   gitLab.value = res.data.data.gitlab ? res.data.data.gitlab[0] : null;
//   gitHub.value = res.data.data.github ? res.data.data.github[0] : null;
//   bitBucket.value = res.data.data.bitbucket ? res.data.data.bitbucket[0] : null;

//   isLoading.value = false;
// }
</script>

<template>
    <BaseLoader v-if="isLoading" />

    <!-- <Vertical v-else layout="vertical"> -->
    <!-- <div class="alert alert-danger py-3" v-if="userStore.currentUser.is_halted" role="alert">You have exceed your usage limits above your current plan. Please subscribe to appropriate plan to resume your deployments</div> -->
    <!-- <router-view />
    </Vertical> -->

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <Header></Header>

        <div class="page-body-wrapper">
            <Sidebar></Sidebar>

            <div class="page-body">
                <slot></slot>
            </div>

            <Footer></Footer>
        </div>
    </div>
</template>
