<script>
import {ref} from 'vue';

</script>


<template>
    <div class="sidebar-wrapper">
            <div>
                <div class="logo-wrapper">
                    <a href="index.html"><img class="img-fluid for-light" src="../../../../public/admin/images/logo/logo.png" alt="" /></a>
                    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                    <div class="toggle-sidebar"><i class="fa fa-cog status_toggle middle sidebar-toggle"> </i></div>
                </div>
                <div class="logo-icon-wrapper">
                    <a href="index.html"><img class="img-fluid" src="../../../../public/admin/images/logo/logo-icon1.png" alt="" /></a>
                </div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn">
                                <a href="index.html"><img class="img-fluid" src="../../../../public/admin/images/logo/logo-icon.png" alt="" /></a>
                                <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <h6 class="lan-1">General</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="home"></i><span class="lan-3">Dashboard </span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a class="lan-4" href="index.html">Default</a></li>
                                            <li><a class="lan-5" href="dashboard-02.html">Ecommerce</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="airplay"></i><span class="lan-6">Widgets</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="general-widget.html">General</a></li>
                                            <li><a href="chart-widget.html">Chart</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="layout"></i><span class="lan-7">Page layout</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="box-layout.html">Boxed</a></li>
                                            <li><a href="layout-rtl.html">RTL</a></li>
                                            <li><a href="layout-dark.html">Dark Layout</a></li>
                                            <li><a href="hide-on-scroll.html">Hide Nav Scroll</a></li>
                                            <li><a href="footer-light.html">Footer Light</a></li>
                                            <li><a href="footer-dark.html">Footer Dark</a></li>
                                            <li><a href="footer-fixed.html">Footer Fixed</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-main-title">
                                <h6 class="lan-8">Applications</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="box"></i><span>Project </span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="projects.html">Project List</a></li>
                                            <li><a href="projectcreate.html">Create new</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="file-manager.html"><i data-feather="git-pull-request"> </i><span>File manager</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="kanban.html"><i data-feather="monitor"> </i><span>kanban Board</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>Ecommerce</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="product.html">Product</a></li>
                                            <li><a href="product-page.html">Product page</a></li>
                                            <li><a href="add-products.html">Add Product</a></li>
                                            <li><a href="list-products.html">Product list</a></li>
                                            <li><a href="payment-details.html">Payment Details</a></li>
                                            <li><a href="order-history.html">Order History</a></li>
                                            <li><a href="invoice-template.html">Invoice</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="list-wish.html">Wishlist</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="pricing.html">Pricing </a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="mail"></i><span>Email</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="email_inbox.html">Mail Inbox</a></li>
                                            <li><a href="email_read.html">Read mail</a></li>
                                            <li><a href="email_compose.html">Compose</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="message-circle"></i><span>Chat</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="chat.html">Chat App</a></li>
                                            <li><a href="chat-video.html">Video chat</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="users"></i><span>Users</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="user-profile.html">Users Profile</a></li>
                                            <li><a href="edit-profile.html">Users Edit</a></li>
                                            <li><a href="user-cards.html">Users Cards</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="bookmark.html"><i data-feather="heart"> </i><span>Bookmarks</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="contacts.html"><i data-feather="list"> </i><span>Contacts</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="task.html"><i data-feather="check-square"> </i><span>Tasks</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="calendar-basic.html"><i data-feather="calendar"> </i><span>Calendar</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="social-app.html"><i data-feather="zap"> </i><span>Social App</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="to-do.html"><i data-feather="clock"> </i><span>To-Do</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="search.html"><i data-feather="search"> </i><span>Search Result</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-main-title">
                                <h6>Forms & Table</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="file-text"></i><span>Forms</span></a>
                                        <ul class="sidebar-submenu">
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Form Controls<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="form-validation.html">Form Validation</a></li>
                                                    <li><a href="base-input.html">Base Inputs</a></li>
                                                    <li><a href="radio-checkbox-control.html">Checkbox & Radio</a></li>
                                                    <li><a href="input-group.html">Input Groups</a></li>
                                                    <li><a href="megaoptions.html">Mega Options</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Form Widgets<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="datepicker.html">Datepicker</a></li>
                                                    <li><a href="time-picker.html">Timepicker</a></li>
                                                    <li><a href="datetimepicker.html">Datetimepicker</a></li>
                                                    <li><a href="daterangepicker.html">Daterangepicker</a></li>
                                                    <li><a href="touchspin.html">Touchspin</a></li>
                                                    <li><a href="select2.html">Select2</a></li>
                                                    <li><a href="switch.html">Switch</a></li>
                                                    <li><a href="typeahead.html">Typeahead</a></li>
                                                    <li><a href="clipboard.html">Clipboard</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Form layout<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="default-form.html">Default Forms</a></li>
                                                    <li><a href="form-wizard.html">Form Wizard 1</a></li>
                                                    <li><a href="form-wizard-two.html">Form Wizard 2</a></li>
                                                    <li><a href="form-wizard-three.html">Form Wizard 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="server"></i><span>Tables</span></a>
                                        <ul class="sidebar-submenu">
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Bootstrap Tables<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="bootstrap-basic-table.html">Basic Tables</a></li>
                                                    <li><a href="table-components.html">Table components</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Data Tables<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="datatable-basic-init.html">Basic Table</a></li>
                                                    <li><a href="datatable-API.html">Data API</a></li>
                                                    <li><a href="datatable-data-source.html">Data Sources</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="datatable-ext-autofill.html">Ex. Data Tables</a></li>
                                            <li><a href="jsgrid-table.html">Js Grid Table </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-main-title">
                                <h6>Components</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="box"></i><span>Ui Kits</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="typography.html">Typography</a></li>
                                            <li><a href="avatars.html">Avatars</a></li>
                                            <li><a href="helper-classes.html">Helper classes</a></li>
                                            <li><a href="grid.html">Grid</a></li>
                                            <li><a href="tag-pills.html">Tag & pills</a></li>
                                            <li><a href="progress-bar.html">Progress</a></li>
                                            <li><a href="modal.html">Modal</a></li>
                                            <li><a href="alert.html">Alert</a></li>
                                            <li><a href="popover.html">Popover</a></li>
                                            <li><a href="tooltip.html">Tooltip</a></li>
                                            <li><a href="loader.html">Spinners</a></li>
                                            <li><a href="dropdown.html">Dropdown</a></li>
                                            <li><a href="according.html">Accordion</a></li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Tabs<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="tab-bootstrap.html">Bootstrap Tabs</a></li>
                                                    <li><a href="tab-material.html">Line Tabs</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="box-shadow.html">Shadow</a></li>
                                            <li><a href="list.html">Lists</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="folder-plus"></i><span>Bonus Ui</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="scrollable.html">Scrollable</a></li>
                                            <li><a href="tree.html">Tree view</a></li>
                                            <li><a href="bootstrap-notify.html">Bootstrap Notify</a></li>
                                            <li><a href="rating.html">Rating</a></li>
                                            <li><a href="dropzone.html">dropzone</a></li>
                                            <li><a href="tour.html">Tour</a></li>
                                            <li><a href="sweet-alert2.html">SweetAlert2</a></li>
                                            <li><a href="modal-animated.html">Animated Modal</a></li>
                                            <li><a href="owl-carousel.html">Owl Carousel</a></li>
                                            <li><a href="ribbons.html">Ribbons</a></li>
                                            <li><a href="pagination.html">Pagination</a></li>
                                            <li><a href="breadcrumb.html">Breadcrumb</a></li>
                                            <li><a href="range-slider.html">Range Slider</a></li>
                                            <li><a href="image-cropper.html">Image cropper</a></li>
                                            <li><a href="sticky.html">Sticky</a></li>
                                            <li><a href="basic-card.html">Basic Card</a></li>
                                            <li><a href="creative-card.html">Creative Card</a></li>
                                            <li><a href="tabbed-card.html">Tabbed Card</a></li>
                                            <li><a href="dragable-card.html">Draggable Card</a></li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Timeline<span class="sub-arrow"><i class="fa fa-angle-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="timeline-v-1.html">Timeline 1</a></li>
                                                    <li><a href="timeline-v-2.html">Timeline 2</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="cloud-drizzle"></i><span>Animation</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="animate.html">Animate</a></li>
                                            <li><a href="scroll-reval.html">Scroll Reveal</a></li>
                                            <li><a href="AOS.html">AOS animation</a></li>
                                            <li><a href="tilt.html">Tilt Animation</a></li>
                                            <li><a href="wow.html">Wow Animation</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="command"></i><span>Icons</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="flag-icon.html">Flag icon</a></li>
                                            <li><a href="font-awesome.html">Fontawesome Icon</a></li>
                                            <li><a href="ico-icon.html">Ico Icon</a></li>
                                            <li><a href="themify-icon.html">Themify Icon</a></li>
                                            <li><a href="feather-icon.html">Feather icon</a></li>
                                            <li><a href="whether-icon.html">Whether Icon</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="cloud"></i><span>Buttons</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="buttons.html">Default Style</a></li>
                                            <li><a href="button-group.html">Button Group</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="bar-chart"></i><span>Charts</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="chart-apex.html">Apex Chart</a></li>
                                            <li><a href="chart-google.html">Google Chart</a></li>
                                            <li><a href="chart-sparkline.html">Sparkline chart</a></li>
                                            <li><a href="chart-flot.html">Flot Chart</a></li>
                                            <li><a href="chart-knob.html">Knob Chart</a></li>
                                            <li><a href="chart-morris.html">Morris Chart</a></li>
                                            <li><a href="chartjs.html">Chatjs Chart</a></li>
                                            <li><a href="chartist.html">Chartist Chart</a></li>
                                            <li><a href="chart-peity.html">Peity Chart</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-main-title">
                                <h6>Pages</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="landing-page.html"><i data-feather="cast"> </i><span>Landing page</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="sample-page.html"><i data-feather="file-text"> </i><span>Sample page</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="internationalization.html"><i data-feather="globe"> </i><span>Internationalization</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="https://admin.pixelstrap.com/enzo/starter-kit/index.html" target="_blank"><i data-feather="anchor"></i><span>Starter kit</span></a>
                                    </li>
                                    <li class="mega-menu">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="layers"></i><span>Others</span></a>
                                        <div class="mega-menu-container menu-content">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="submenu-title">
                                                                <h5>Error Page</h5>
                                                            </div>
                                                            <ul class="submenu-content opensubmegamenu">
                                                                <li><a href="error-page1.html">Error Page 1</a></li>
                                                                <li><a href="error-page2.html">Error Page 2</a></li>
                                                                <li><a href="error-page3.html">Error Page 3</a></li>
                                                                <li><a href="error-page4.html">Error Page 4</a></li>
                                                                <li><a href="error-page5.html">Error Page 5 </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="submenu-title">
                                                                <h5>Authentication</h5>
                                                            </div>
                                                            <ul class="submenu-content opensubmegamenu">
                                                                <li><a href="login.html" target="_blank">Login Simple</a></li>
                                                                <li><a href="login_one.html" target="_blank">Login with bg image</a></li>
                                                                <li><a href="login_two.html" target="_blank">Login with image two </a></li>
                                                                <li><a href="login-bs-validation.html" target="_blank">Login With validation</a></li>
                                                                <li><a href="login-bs-tt-validation.html" target="_blank">Login with tooltip</a></li>
                                                                <li><a href="login-sa-validation.html" target="_blank">Login with sweetalert</a></li>
                                                                <li><a href="sign-up.html" target="_blank">Register Simple</a></li>
                                                                <li><a href="sign-up-one.html" target="_blank">Register with Bg Image </a></li>
                                                                <li><a href="sign-up-two.html" target="_blank">Register with Bg video</a></li>
                                                                <li><a href="unlock.html">Unlock User</a></li>
                                                                <li><a href="forget-password.html">Forget Password</a></li>
                                                                <li><a href="reset-password.html">Reset Password</a></li>
                                                                <li><a href="maintenance.html">Maintenance</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="submenu-title">
                                                                <h5>Coming Soon</h5>
                                                            </div>
                                                            <ul class="submenu-content opensubmegamenu">
                                                                <li><a href="comingsoon.html">Coming Simple</a></li>
                                                                <li><a href="comingsoon-bg-video.html">Coming with Bg video</a></li>
                                                                <li><a href="comingsoon-bg-img.html">Coming with Bg Image</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="submenu-title">
                                                                <h5>Email templates</h5>
                                                            </div>
                                                            <ul class="submenu-content opensubmegamenu">
                                                                <li><a href="basic-template.html">Basic Email</a></li>
                                                                <li><a href="email-header.html">Basic With Header</a></li>
                                                                <li><a href="template-email.html">Ecomerce Template</a></li>
                                                                <li><a href="template-email-2.html">Email Template 2</a></li>
                                                                <li><a href="ecommerce-templates.html">Ecommerce Email</a></li>
                                                                <li><a href="email-order-success.html">Order Success</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-main-title">
                                <h6>Miscellaneous</h6>
                            </li>
                            <li class="menu-box">
                                <ul>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="image"></i><span>Gallery</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="gallery.html">Gallery Grid</a></li>
                                            <li><a href="gallery-with-description.html">Gallery Grid Desc</a></li>
                                            <li><a href="gallery-masonry.html">Masonry Gallery</a></li>
                                            <li><a href="masonry-gallery-with-disc.html">Masonry with Desc</a></li>
                                            <li><a href="gallery-hover.html">Hover Effects</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="film"></i><span>Blog</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="blog.html">Blog Details</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                            <li><a href="add-post.html">Add Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="faq.html"><i data-feather="help-circle"> </i><span>FAQ</span></a>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="package"></i><span>Job Search</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="job-cards-view.html">Cards view</a></li>
                                            <li><a href="job-list-view.html">List View</a></li>
                                            <li><a href="job-details.html">Job Details</a></li>
                                            <li><a href="job-apply.html">Apply</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="radio"></i><span>Learning</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="learning-list-view.html">Learning List</a></li>
                                            <li><a href="learning-detailed.html">Detailed Course</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="map"></i><span>Maps</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="map-js.html">Maps JS</a></li>
                                            <li><a href="vector-map.html">Vector Maps</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="edit"></i><span>Editors</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="summernote.html">Summer Note</a></li>
                                            <li><a href="ckeditor.html">CK editor</a></li>
                                            <li><a href="simple-MDE.html">MDE editor</a></li>
                                            <li><a href="ace-code-editor.html">ACE code editor</a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="sunrise"> </i><span>Knowledgebase</span></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="knowledgebase.html">Knowledgebase</a></li>
                                            <li><a href="knowledge-category.html">Knowledge category</a></li>
                                            <li><a href="knowledge-detail.html">Knowledge detail </a></li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list">
                                        <a class="sidebar-link sidebar-title link-nav" href="support-ticket.html"><i data-feather="users"> </i><span>Support Ticket</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </nav>
            </div>
        </div>
</template>
