<script setup>
import Layout from "@/views/layouts/Layout.vue";

// import Stat from "@/components/dashboard/Stat.vue";
// import Gitlab from "@/components/icons/GitLab.vue";
// import GitHub from "@/components/icons/GitHub.vue";
// import BitBucket from "@/components/icons/BitBucket.vue";
// import { useDashboardStore } from "@/store/dashboard";
// import { ref } from "vue";
// const dashboardStore = useDashboardStore();
// let isLoading = ref(false);

// const gitHub = ref(null);
// const gitLab = ref(null);
// const bitBucket = ref(null);

// fetchSourceController();

// async function fetchSourceController(params) {
//   isLoading.value = true;
//   let res = await dashboardStore.fetchSourceController();
//   gitLab.value = res.data.data.gitlab ? res.data.data.gitlab[0] : null;
//   gitHub.value = res.data.data.github ? res.data.data.github[0] : null;
//   bitBucket.value = res.data.data.bitbucket ? res.data.data.bitbucket[0] : null;

//   isLoading.value = false;
// }
</script>

<template>

    <Layout>
        <div class="container-fluid default-dash">
            <div class="row">
                <div class="col-xl-4 col-md-6 box-col-50 xl-50">
                    <div class="card profile-greeting">
                        <div class="card-body">
                            <img class="img-fluid bg-img-cover" src="../../../../public/admin/images/dashboard/profile-greeting/bg.png" alt="" />
                            <div>
                                <h3>Available in your</h3>
                                <h4>Smartphone</h4>
                                <h5>Android & Ios</h5>
                                <p>Install app , upgrade system</p>
                                <a class="btn btn-primary" href="https://themeforest.net/user/pixelstrap/portfolio">Check Now</a>
                            </div>
                        </div>
                        <div class="shap-block">
                            <div class="rounded-shap"><i></i><i></i><i> </i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="items-slider">
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="dollar-sign"></i></div>
                                    <p>Yearly Invoice</p>
                                    <h3>$985k</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="database"></i></div>
                                    <p>Yearly Investment</p>
                                    <h3>$126k</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="user"></i></div>
                                    <p>This Month User</p>
                                    <h3>$84k</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="clipboard"></i></div>
                                    <p>Launched Product</p>
                                    <h3>$1206</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="file-text"></i></div>
                                    <p>Yearly Spend</p>
                                    <h3>$324k</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-sm-4 des-xsm-50 box-col-33">
                            <div class="card investment-sec">
                                <div class="animated-bg"><i></i><i></i><i></i></div>
                                <div class="card-body">
                                    <div class="icon"><i data-feather="droplet"></i></div>
                                    <p>Yearly Visitors</p>
                                    <h3>$2556k</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Layout>

</template>
