<script setup>
import axios from "axios";
import { ref } from "vue";
import { useAuthStore } from "../../store/auth";
import { required, email, helpers } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import { RouterLink, useRouter } from "vue-router";

const authStore = useAuthStore();
const router = useRouter();
const isAuthError = ref(false);
const isProcessing = ref(false);

const formData = ref({
    email: "",
    password: "",
    remember: false,
});

const rules = {
    formData: {
        email: {
            required: helpers.withMessage("Email is required", required),
            email: helpers.withMessage("Please enter valid email", email),
        },
        password: {
            required: helpers.withMessage("Password is required", required),
        },
    },
};

const v$ = useVuelidate(rules, { formData });

async function tryToLogIn() {
    authStore.formErrors = {};
    isProcessing.value = true;
    v$.value.formData.$touch();
    if (v$.value.$invalid) {
        isProcessing.value = false;
        return false;
    }
    let res = await authStore.login(formData.value);
    isProcessing.value = false;
    if (res) {
        // const urlParams = new URLSearchParams(window.location.search);
        // const redirectUrl = urlParams.get("redirect");
        // window.location.href = redirectUrl || "/dashboard";
        router.push({name: 'admin.dashboard'})
    }
    isProcessing.value = false;
}
</script>

<template>


    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-7 b-center bg-size bg-cover-img">
            <img class="bg-img-cover bg-center" src="../../../../public/admin/images/login/2.jpg" alt="loginpage" style="display: none;">
        </div>
        <div class="col-xl-5 p-0">
          <div class="login-card">
            <div>
              <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="../../../../public/admin/images/logo/login.png" alt="loginpage"></a></div>
              <div class="login-main">

                <form class="theme-form" @submit.prevent="tryToLogIn">
                  <h4 class="text-center">Sign up to create an account</h4>
                  <p class="text-center">Enter your email & password to register</p>

                  <div class="form-group">
                    <label class="col-form-label">Email Address</label>
                    <input class="form-control" type="email" v-model="formData.email" :class="{ 'is-invalid': v$.formData.email.$error || authStore.formErrors.email,}" placeholder="Test@gmail.com">
                    <div v-for="(item, index) in v$.formData.email.$errors" :key="index" class="invalid-feedback d-block mt-0" >
                      <span v-if="item.$message">{{ item.$message }}</span>
                    </div>
                    <div v-if="authStore.formErrors.email" class="invalid-feedback d-block mt-0" >
                      <span >{{ authStore.formErrors.email }}</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <div class="form-input position-relative">
                      <input class="form-control" type="password" name="password" v-model="formData.password" :class="{ 'is-invalid': v$.formData.password.$error || authStore.formErrors.password,}" placeholder="*********">
                      <div class="show-hide"><span class="show">                         </span></div>
                    </div>
                    <div v-if="v$.formData.password.$error" class="invalid-feedback d-block mt-0">
                      <span v-if="v$.formData.password.required.$message">{{v$.formData.password.required.$message}}</span>
                    </div>
                    <div v-if="authStore.formErrors.password" class="invalid-feedback d-block mt-0" >
                      <span >{{ authStore.formErrors.password }}</span>
                    </div>
                  </div>

                  <div class="form-group mb-0">
                    <div class="checkbox p-0">
                      <input id="checkbox1" type="checkbox" name="remember" v-model="formData.remember" :value="false" :unchecked-value="false">
                      <label class="text-muted" for="checkbox1">Remember password</label>
                    </div>

                    <router-link class="link" :to="{ name: 'login' }">Sign In</router-link>

                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit" :disabled="isProcessing">Sign in</button>
                    </div>
                  </div>

                  <!-- <div class="login-social-title">
                    <h6>Or Sign in with </h6>
                  </div>
                  <div class="form-group">
                    <ul class="login-social">
                      <li><a href="https://www.linkedin.com/" target="_blank"><i data-feather="linkedin"></i></a></li>
                      <li><a href="https://www.twitter.com/" target="_blank"><i data-feather="twitter"></i></a></li>
                      <li><a href="https://www.facebook.com/" target="_blank"><i data-feather="facebook"></i></a></li>
                      <li><a href="https://www.instagram.com/" target="_blank"><i data-feather="instagram"></i></a></li>
                    </ul>
                  </div> -->
                  <!-- <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" href="sign-up.html">Create Account</a></p> -->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</template>


<style scoped>
.bg-cover-img {
    background-image: url('../../../../public/admin/images/login/2.jpg');
    background-size: cover;
    background-position: center center;
    display: block;
}

.login-card{
  background-color: #f6f8fc;
}
</style>
